version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data  # для сохранения SQLite файла
    environment:
      DATABASE_URL: sqlite+aiosqlite:///./data/advertisements.db
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload